
@import "~@fontsource/poppins/index.css";
$fuente: "Poppins",sans-serif;

$blanco: white;

$azul: rgb(115, 176, 255);
$negro: rgb(19, 19, 19);
$grisOscuro:rgb(61, 61, 61);



/* Tamaños Responsive*/

$telefono: 480px;

$tablet: 768px;

$desktop: 1024px;

$desktopXL: 1366px;
$desktop2XL: 1440px;

