@use 'base/variables' as v;
@use 'base/mixins' as m;

.seccion {
    

    max-height: 1000px;
    @include m.tablet{
        max-height: 700px;
    }
    @include m.desktopXL{
        max-height: 1000px;
    }

    &__titulo {
        @include m.ajustarTexto(1rem,1.5rem);
        color: v.$negro;
        text-align: center;
        @include m.tablet{
            text-align: left;
            
        }
    }

    &__row {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: .5rem;
        @include m.tablet{
            gap: 3rem;
            flex-direction: row;
            text-align: left;
        }

        &-subdata {
            color: lighten(v.$negro, 25%);
            font-weight: 600;
        }

    }

    &__texto {
        text-align: center;
        width: 90%;
        &--proyectos{
            text-align: left;
        }
        &--left{
            text-align: left;
        }
        h3 {
            margin-top: 1.7rem;
            @include m.ajustarTexto(.8rem,1.3rem);
            margin-bottom: 0;
        }
        @include m.tablet{
            text-align: justify;

        }

       
    }

    &-titulos {
        overflow-y: hidden;
        max-height: 90%;
    }

    &__card {
        margin-top: 5rem;
        background-color: darken(v.$blanco, 2%);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--proyectos {
            background-color: darken(v.$blanco, 5%);
            border-radius: 20px;
            transition: transform .2s ease;
            cursor: pointer;
            &:hover{
                transform: scale(1.025);
            }
        }

        &-img {
            width: 100%;

            &--proyectos {
                max-height: 150px;

                img {
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }

            }

            img {
                height: 100%;
                object-fit: cover;
            }
            &--titulos{
                max-width: 400px;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 3rem;
        @include m.desktop{
            grid-template-columns: repeat(2,1fr);

        }
        @include m.desktopXL{
            grid-template-columns: repeat(3,1fr);

        }

        @include m.desktop2XL{
          grid-template-columns: repeat(4,1fr);
        }
    }

    &__parrafo{
        line-height: 2rem;
        margin-bottom: 3rem;
        overflow: hidden;
        text-align: center;

        transition: height .4s ease;
        &--extender{
            height: 100px;
        }
        &--expandido{
            height: 400px;
        }
        @include m.tablet{
            text-align: left;
        }
      
    }

    &__guia{
        color: darken(v.$blanco,70% );
        &:hover{
            cursor: pointer;
        }
    }

    &.tecnologias{
       max-width: 100%;

    }


    &__mark{
        padding: .2rem;
        border-radius: 50px;
        &--celeste{
            background-color: v.$azul;
            color: v.$blanco;
            font-weight: 700;
        }
    }
  


}
