@use 'base/mixins' as m;
@use 'base/variables' as v;
.cards__grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 4rem;
    column-gap: 4rem;
  
    @include m.tablet{
        grid-template-columns: repeat(2,1fr);

    }
    @include m.desktopXL{
        grid-template-columns: repeat(3,1fr);

    }
  
}
.card{
    display: flex;
    height: fit-content;

    border-left: 2px solid lighten(v.$negro,0%);

    padding-inline: 2.5rem 1rem;
    padding-block: 2rem;
  
    max-width: 75%;

    &__head{
        display: flex;
        flex-direction: column;
    }

    &__persona{
        &-nombre{
            display: flex;
            gap: .3rem;
            margin: 0;
            p{
                @include m.ajustarTexto(1rem,1.2rem);
                font-weight: 700;
                margin: 0;
                color: lighten(v.$negro,5%);
            }
        }
       
    }
    &__mensaje{
        margin-top: 2rem;
        @include m.ajustarTexto(.7rem,1rem);
        color: lighten(v.$negro,20%);
    
    }

}

.card{
    .stars{
        display: flex;
        /* Al hacer hover permite que cambie la direccion del orden  de las estrellas. En vez de derecha a izquierda a derecha a izquierda*/
        gap: 1rem;
      
        label{
           transform: scale(1.5);
           &.activado{
            color: v.$naranja;
            &:hover{
                cursor:auto;
                transition: none;
                animation: none;
            }
           }
        }
    
    
    }
}