@use 'base/mixins' as m;
@use 'base/variables' as v;
.cards__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2rem;
}
.card{
    border: 1px solid black;
    width: fit-content;
    padding-inline: 2.5rem 2rem;
    padding-block: 2rem;
  
    display: flex;
    &__head{
        display: flex;
        flex-direction: column;
    }

    &__persona{
        &-nombre{
            display: flex;
            gap: .3rem;
            p{
                @include m.ajustarTexto(1rem,1.5rem);
                font-weight: 700;
                margin: 0;
                color: lighten(v.$negro,5%);
            }
        }
        p{
            color: lighten(v.$negro,10%);
        }
    }
}