@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{


    &__container{
        padding: 2rem 0rem;
    
        display: flex;
        align-items: center;
        gap: 5rem;
    }
&__foto, img{
    border-radius: 50%;
    
}
&__foto{
    width: 250px;
}
&__data{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

&__nombre h1{
    font-size: 3rem;
    margin: 1rem 0;
    color: v.$negro;
}
&__profesion {

    h3{
        color: v.$grisOscuro;
        font-weight: 500;
        margin: .5rem 0;  
    }

}
&__localidad h4{
    margin: 0 ;
    color: v.$grisOscuro;
    font-size: 1.1rem;
}
}

// TODO: NAVEGACION PARA MENOR A DESKTOP: RESPONSIVE
.navegacion{
    position: fixed;
    background-color: v.$blanco;
    z-index: 10;
    right: 0;
    top: 0;
    height: 100vh;
    padding: 4rem 4rem;
    @include m.boxShadow;
    display: none;
    @include m.desktop{
        display: block;
    }
    &__enlaces{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        a{
            @include m.enlace(v.$grisOscuro,1.1rem,0px,transparent,transparent);
        }
      
    }
    &__dark{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
}