@use 'base/mixins' as m;
@use 'base/variables' as v;
.secciones{
    padding: 3rem 0;
    &__enlaces a,span{

        @include m.enlace(v.$negro,1rem,0px,transparent,transparent);
        margin-right: 3rem;
  
    }
    &__enlaces{
        padding: 0 5rem;
        &--inactivo:hover{
            cursor: pointer !important;
        }

    }
    
    &__enlaces a:last-child{
        margin: 0;
    }
   
}