@use 'base/variables' as v;
.switch-button {
    display: inline-block;
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: darken(v.$blanco,5%);
    width: 3rem;
    height: 1.5rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: v.$blanco;
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px v.$negro
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: v.$negro;
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(1.5rem);
}